* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
    background-color: black;
    min-height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    }
    /*.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }*/
    .iam{
    color: white;
    font-size: 55px;
    padding: 15px;
    /*border: 2px solid red;*/
    font-family: sans-serif;
    }
    .text{
    color: white;
    font-size: 55px;
    font-family: sans-serif;
    color: white;
    /*border:  2px solid yellow;*/
    }
    .outer {
    width: 100%;
    float: left;
    /* height: 5400px;*/
    /* border: 5px solid green;*/
    }
    .side-box-nav {
    width: 20%;
    height: 100vh;
    /*border: 5px solid black;*/
    float: left;
    position: fixed;
    background-color: #111418 !important;
    }
    h4 {
    color: white;
    font-weight: 700;
    padding-top: 250px;
    text-align: center;
    font-size: 30px;
    }
    .fron-develo-text {
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    color: white;
    font-size: 80px;
    }
    .fron-develo-text2 {
    font-size: 30px;
    }
    .logo {
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-top: 90px;
    background-color: white;
    border: 2px solid;
    border-radius: 60%;
    border: 13px solid #343a40;
    }
    .name {
    font-size: 50px;
    font-weight: 700;
    padding-top: 14px;
    display: inline-block;
    }
    .i-poo {
    width: 80px;
    color: rgba(250, 250, 250, 0.9);
    font-size: 20px;
    margin-top: 15px;
    margin: 0 auto;
    padding-top: 50px;
    font-weight: 600;
    text-transform: uppercase;
    }
    .i-poo:hover {
    color: #20c997;
    }
    .section {
    width: 80%;
    height: 45%;
    margin-top: 40px;
    display: inline-block;
    /*border: 2px solid red;*/
    }
    .menu {
    font-size: 18px;
    padding-left: 63px;
    padding-top: 16px;
    }
    ul {
    list-style-type: none;
    }
    li {
    float: left;
    padding: 10px 23px;
    }
    a {
    color: rgba(250, 250, 250, 0.9);
    text-decoration: none;
    }
    a:hover {
    color: #20c997;
    }
    .shadow1 {
    width: 100%;
    height: 100vh;
    position: relative;
    }
    .nav {
    /* width: 90%; */
    height: 100vh;
    margin: 0 auto;
    font-size: 24px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    /* margin-left: 5%; */
    }
    .social_icon2 {
    width: 68%;
    height: 46px;
    display: inline-block;
    margin-top: 50px;
    /*border: 2px solid palegreen;*/
    }
    .social {
    width: 35px;
    height: 42px;
    float: left;
    color: rgba(250, 250, 250, 0.9);
    padding-top: 9px;
    font-size: 18px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    }
    .social2 {
    width: 35px;
    height: 42px;
    float: left;
    margin-left: 7px;
    color: rgba(250, 250, 250, 0.9);
    padding-top: 9px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    font-size: 18px;
    }
    .social3 {
    width: 35px;
    height: 42px;
    float: left;
    margin-left: 7px;
    color: rgba(250, 250, 250, 0.9);
    padding-top: 9px;
    font-size: 18px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    }
    .right-banner-box {
    width: 80%;
    height: 100vh;
    float: left;
    /*border: 4px solid red;*/
    float: right;
    background-image: url(images/my.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .top-logo {
    width: 30%;
    float: left;
    color: white;
    font-size: 20px;
    padding: 12px;
    display: none;
    }
    .top-button {
    width: 140px;
    height: 50px;
    /* float: left; */
    /* margin-left: 43%; */
    margin-top: 50px;
    color: #20c997;
    font-weight: 400;
    font-size: 16px;
    border: solid 2px #20c997;
    border-radius: 30px;
    text-align: center;
    padding-top: 13px;
    background-color: rgba(0, 0, 0, 0.075);
    }
    .top-button:hover {
    background-color: #20c997;
    font-size: 15px;
    color: white;
    }
    .about {
    width: 80%;
    height: 63vh;
    float: right;
    position: relative;
    /*border: 4px solid purple;*/
    background-color: #212529
    /* overflow: hidden; */
    }
    .about-me-col1 {
    width: 100%;
    height: 57.4vh;
    margin: 0 auto;
    /* border: 2px solid rgb(145, 204, 10);*/
    }
    /*.main-heading{
    width: 60%;
    height: 90px;
    margin: 0 auto;
    text-align: center;
    padding: 4.4rem 0;
    font-size: 65px;
    font-weight: 800;
    color: #6c757d!important;
    text-transform: uppercase!important;
    border: 2px solid blue;
    }*/
    .main-heading {
    width: 55%;
    margin: 0 auto;
    height: 115px;
    text-transform: uppercase !important;
    text-align: center;
    font-weight: 700;
    /*border: 4px solid rgb(58, 227, 1);*/
    letter-spacing: 1px;
    opacity: 0.1;
    margin-top: 50px;
    color: #6c757d !important;
    font-size: 100px;
    }
    .what {
    font-size: 35px;
    text-align: center;
    margin-top: -68px;
    font-weight: 700;
    color: white;
    }
    .white-text-box1 {
    width: 60%;
    height: 260px;
    padding-top: 20px;
    padding-left: 45px;
    margin-top: 20px;
    float: left;
    /* border: 2px solid seagreen;*/
    }
    .white-text-box1 h1 {
    font-size: 25px;
    font-weight: 600 !important;
    color: white;
    }
    .high-light {
    color: #20c997;
    }
    .white-text-box1 p {
    font-size: 17px;
    padding-top: 12px;
    color: rgba(250, 250, 250, 0.9);
    }
    .col-inf-right {
    width: 40%;
    height: 260px;
    float: left;
    margin-top: 20px;
    /* border: 2px solid red;*/
    }
    .my-name {
    font-size: 17px;
    padding-left: 40px;
    padding-top: 40px;
    font-weight: 600;
    color: #dee3e4 !important
    }
    .my-email {
    font-size: 17px;
    padding-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    color: #dee3e4 !important;
    }
    .my-age {
    font-size: 17px;
    padding-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    color: #dee3e4 !important;
    }
    .from {
    font-size: 17px;
    padding-left: 40px;
    padding-top: 10px;
    font-weight: 600;
    color: #dee3e4 !important;
    }
    .about-button {
    width: 35%;
    height: 50px;
    float: left;
    margin-left: 38px;
    padding-top: 14px;
    text-align: center;
    border-radius: 50px;
    margin-top: 40px;
    background-color: #20c997;
    /* border: 1px solid #ded5d5;*/
    }
    .about-button :hover {
    color: #dee3e4 !important;
    }
    .my-portfolio{
    width: 80%;
    float: right;
    height: 700px;
    position: relative;
    background-color: rgb(52, 58, 64);
    /* border: 3px solid yellow;*/
    }
    .services-container1 {
    width: 100%;
    height: 783px;
    /*border: 2px solid navy;*/
    }
    .services-main-heading {
    width: 55%;
    margin: 0 auto;
    height: 125px;
    text-transform: uppercase !important;
    text-align: center;
    font-weight: 700;
    /*border: 4px solid rgb(58, 227, 1);*/
    letter-spacing: 1px;
    opacity: 0.1;
    margin-top: 70px;
    color: #6c757d !important;
    font-size: 80px;
    }
    .what {
    font-size: 35px;
    text-align: center;
    margin-top: -86px;
    font-weight: 700;
    color: white;
    }
    .skills{
    width: 80%;
    height: 403px;
    margin: 0 auto;
    margin-top: 50px;
    /* border: 2px solid red;*/
    }
    .my_educ {
    width: 80%;
    height: 75vh;
    float: right;
    position: relative;
    background-color: #212529 !important;
    /*border: 2px solid rgb(43, 247, 7);*/
    }
    .my-education-container {
    width: 85%;
    height: 151vh;
    margin: 0 auto;
    margin-top: 80px;
    /*border: 2px solid maroon;*/
    }
    .changes {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-top: -90px;
    }
    .summary {
    /*padding-left: 300px;*/
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.1;
    color: #6c757d !important;
    font-size: calc(1.30rem + 5.3vw) !important;
    }
    .my-eduation-heading {
    width: 15%;
    height: 50px;
    /*border: 1px solid white;*/
    color: white;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 70px;
    padding-top: 11px;
    font-weight: 600;
    text-align: center;
    }
    .bottom-eduation-cont {
    width: 80%;
    height: 205px;
    margin: 0 auto;
    margin-top: 70px;
    /*border: 2px solid wheat;*/
    }
    .computer-sci-box {
    width: 46%;
    height: 200px;
    float: left;
    /* border: 2px solid whitesmoke;*/
    border-radius: 10px;
    background-color: #111418 !important;
    }
    .date {
    width: 100px;
    height: 33px;
    font-size: 15px;
    /*border: 1px solid #e90f0f;*/
    background-color: red;
    border-radius: 7px;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding-top: 6px;
    margin-top: 50px;
    }
    .science-main-text {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    }
    .sci-high-light {
    color: #20c997 !important;
    padding-left: 10px;
    padding-top: 8px;
    font-weight: 600;
    text-align: center;
    font-size: 19px;
    }
    .sci-heading-text {
    padding-left: 12px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 17px;
    color: #ded5d5c4;
    }
    .master-deg-box {
    width: 46%;
    height: 200px;
    float: left;
    border-radius: 10px;
    margin-left: 35px;
    /*border: 2px solid rgb(227, 212, 212);*/
    background-color: #111418 !important;
    }
    .date2 {
    width: 100px;
    height: 33px;
    margin-top: 10px;
    /*border: 1px solid #e90f0f;*/
    background-color: red;
    border-radius: 7px;
    color: white;
    margin-left: 10px;
    margin: 0 auto;
    text-align: center;
    padding-top: 6px;
    margin-top: 50px;
    font-size: 15px;
    }
    .master-main-text {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    }
    .mast-high-light {
    color: #20c997 !important;
    padding-left: 10px;
    padding-top: 8px;
    font-weight: 600;
    text-align: center;
    font-size: 19px;
    }
    .edu-last-box {
    width: 48%;
    height: 200px;
    float: left;
    margin-left: 35px;
    margin-top: 31px;
    border-radius: 10px;
    /*border: 2px solid rgb(227, 212, 212);*/
    background-color: #111418 !important;
    }
    .date3 {
    width: 100px;
    height: 33px;
    margin-top: 10px;
    /* border: 1px solid #e90f0f;*/
    background-color: red;
    border-radius: 7px;
    color: white;
    margin-left: 10px;
    padding-top: 6px;
    text-align: center;
    font-size: 15px;
    }
    .master-main-text2 {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
    }
    .mast-high-light2 {
    color: #20c997 !important;
    padding-left: 10px;
    padding-top: 8px;
    font-weight: 600;
    font-size: 19px;
    }
    .master-heading-text2 {
    padding-left: 12px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 17px;
    color: #ded5d5c4;
    }
    .my-skills-cont {
    width: 100%;
    height: 388px;
    float: left;
    margin-top: 10px;
    /*border: 2px solid wheat;*/
    }
    .my-skills-text {
    font-weight: 700 !important;
    font-size: 24px !important;
    color: white;
    }
    .skills-box {
    width: 100%;
    height: 210px;
    float: left;
    margin-top: 30px;
    /* border: 2px solid rgb(5, 219, 30);*/
    }
    .html-skills-box {
    width: 48%;
    height: 55px;
    float: left;
    /*border: 1px solid ghostwhite;*/
    }
    .html-skills-box h6 {
    color: #dee3e4;
    font-size: 19px;
    float: left;
    font-weight: 600;
    }
    .hello {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    margin-top: 40px;
    background: linear-gradient(to right, #20c997 95%, #111418 4%);
    }
    .float-end {
    width: 35px;
    height: 20px;
    /* border: 1px solid violet;*/
    color: #dee3e4;
    float: right;
    font-size: 16px;
    margin-bottom: -60px;
    }
    .css-skills-box {
    width: 48%;
    height: 55px;
    float: left;
    margin-left: 38px;
    /*border: 1px solid ghostwhite;*/
    }
    .css-skills-box h6 {
    color: #dee3e4;
    font-size: 19px;
    float: left;
    font-weight: 600;
    }
    .hello2 {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    margin-top: 40px;
    background: linear-gradient(to right, #20c997 97%, #111418 4%);
    }
    .java-skills-box {
    width: 48%;
    height: 55px;
    float: left;
    margin-top: 20px;
    /*border: 1px solid ghostwhite;*/
    }
    .java-skills-box h6 {
    color: #dee3e4;
    font-size: 19px;
    float: left;
    font-weight: 600;
    }
    .hello3 {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    margin-top: 40px;
    background: linear-gradient(to right, #20c997 80%, #111418 20%);
    }
    .boostrap-skills-box {
    width: 48%;
    height: 55px;
    float: left;
    margin-top: 20px;
    margin-left: 38px;
    /*border: 1px solid ghostwhite;*/
    }
    .boostrap-skills-box h6 {
    color: #dee3e4;
    font-size: 19px;
    float: left;
    font-weight: 600;
    }
    .hello4 {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    margin-top: 40px;
    background: linear-gradient(to right, #20c997 80%, #111418 20%);
    }
    .react-skills-box {
    width: 48%;
    height: 55px;
    float: left;
    margin-top: 20px;
    /*border: 1px solid ghostwhite;*/
    }
    .react-skills-box h6 {
    color: #dee3e4;
    font-size: 19px;
    float: left;
    font-weight: 600;
    }
    .hello5 {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    margin-top: 40px;
    background: linear-gradient(to right, #20c997 75%, #111418 25%);
    }
    .jquery-skills-box {
    width: 48%;
    height: 55px;
    float: left;
    margin-top: 20px;
    margin-left: 38px;
    /*border: 1px solid ghostwhite;*/
    }
    .jquery-skills-box h6 {
    color: #dee3e4;
    font-size: 19px;
    float: left;
    font-weight: 600
    }
    .hello6 {
    width: 100%;
    height: 8px;
    border-radius: 15px;
    margin-top: 40px;
    background: linear-gradient(to right, #20c997 75%, #111418 25%);
    }
    .my-button2 {
    width: 19%;
    height: 50px;
    float: left;
    margin-top: 50px;
    border-radius: 50px;
    margin-right: 80px;
    text-align: center;
    padding-top: 3px;
    font-size: 17px;
    border: 2px solid #6c757d;
    color: #6c757d;
    margin-left: 40%;
    background-color: rgb(52, 58, 64);
    text-decoration: none;
    }
    .my-button2 :hover {
    color: white;
    }
    .projects{
    width: 80%;
    height: 960px;
    float: right;
    position: relative;
    /* border: 3px solid red;*/
    background-color: #343a40 !important;
    }
    .my-portfolio-container {
    width: 55%;
    height: 130px;
    margin: 0 auto;
    margin-top: 50px;
    /*border: 2px solid blue;*/
    }
    .portfolio-in {
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0.1;
    font-size: 45px;
    padding-top: 5px;
    text-transform: uppercase;
    color: #6c757d !important;
    font-size: calc(1.30rem + 5.3vw) !important;
    }
    .my-work {
    font-size: 35px;
    text-align: center;
    margin-top: -90px;
    font-weight: 700;
    color: white;
    }
    .my-main-box {
    width: 90%;
    height: 605px;
    margin: 0 auto;
    margin-top: 30px;
    /* border: 2px solid hotpink;*/
    }
    .all {
    width: 84.8%;
    height: 664px;
    margin: 0 auto;
    margin-top: 25px;
    /* border: 2px solid white;*/
    }
    .image1 {
    width: 32%;
    height: 320px;
    float: left;
    position: relative;
    /* border: 2px solid red; */
    background-image: url(images/will.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    }
    .me1 {
    display: block;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    /*background-color: red;*/
    }
    .image1:hover .overlay {
    opacity: 1;
    }
    .web-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }
    .image2 {
    width: 32%;
    height: 320px;
    float: left;
    margin-left: 20px;
    position: relative;
    /* border: 2px solid red; */
    background-image: url(images/clear.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    }
    .me2 {
    display: block;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(154, 146, 146, 0.067);
    }
    .image2:hover .overlay {
    opacity: 1;
    }
    .web-name{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }
    .image3 {
    width: 32%;
    height: 320px;
    float: left;
    margin-left: 19.2px;
    position: relative;
    /* border: 2px solid red;*/
    background-image: url(images/into.webp);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    }
    .me3 {
    display: block;
    border-radius: 5px;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(154, 146, 146, 0.067);
    border-radius: 5px;
    }
    .image3:hover .overlay {
    opacity: 1;
    }
    .web-name{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }
    .image4 {
    width: 32%;
    height: 320px;
    float: left;
    margin-top: 20px;
    position: relative;
    /*border: 2px solid red;*/
    background-image: url(images/dro.webp);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    }
    .me4 {
    display: block;
    border-radius: 5px;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(154, 146, 146, 0.423);;
    border-radius: 5px;
    }
    .image4:hover .overlay {
    opacity: 1;
    }
    .web-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }
    .image5 {
    width: 32%;
    height: 320px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    /* border: 2px solid red; */
    background-image: url(images/money-heist.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    }
    .me5 {
    display: block;
    border-radius: 5px;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(154, 146, 146, 0.423);;
    border-radius: 5px;
    }
    .image5:hover .overlay {
    opacity: 1;
    }
    .web-name{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }
    .image6 {
    width: 32%;
    height: 320px;
    float: left;
    margin-left: 19.2px;
    margin-top: 20px;
    position: relative;
    /* border: 2px solid red;*/
    background-image: url(images/last.jpg);
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    }
    .image {
    display: block;
    border-radius: 5px;
    }
    .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 5px;
    background-color: rgba(154, 146, 146, 0.423);
    }
    .image6:hover .overlay {
    opacity: 1;
    }
    .web-name {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }
    .Testimonial {
    width: 80%;
    height: 75vh;
    float: right;
    position: relative;
    background-color: #212529 !important;
    overflow: hidden;
    /*border: 3px solid rgb(236, 11, 127);*/
    }
    .testimo-section {
    width: 60%;
    height: 125px;
    margin: 0 auto;
    margin-top: 80px;
    /*border: 2px solid gray;*/
    }
    .testimonial-heading {
    font-size: 100px;
    color: #6c757d !important;
    text-transform: uppercase !important;
    font-weight: 800;
    text-align: center;
    opacity: 0.1;
    left: 1.5;
    }
    .client-spaek-text {
    color: white;
    }
    .client-speak-text {
    font-size: 37px;
    text-align: center;
    margin-top: -89px;
    font-weight: 700;
    color: white;
    }
    /*.border-client{
    width: 80px;
    height: 6px;
    display: block;
    border-width: 3px;
    margin-right: auto!important;
    margin-left: auto!important;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    border-color: #20c997;
    }*/
    .client-last-container {
    width: 80%;
    height: 254px;
    margin: 0 auto;
    margin-top: 60px;
    /* border: 2px solid red;*/
    }
    .client-box1 {
    width: 48%;
    float: left;
    height: 250px;
    background-color: #111418 !important;
    border-radius: 7px;
    /*border: 2px solid gray;*/
    }
    .client-box2 {
    width: 48%;
    height: 250px;
    float: left;
    border-radius: 7px;
    background-color: #111418 !important;
    margin-left: 38px;
    /*border: 2px solid gray;*/
    }
    .samll-image-box {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    border: 5px solid rgb(63, 62, 62);
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 23px;
    padding-top: 10px;
    }
    .client-image-text {
    color: white;
    padding-left: 110px;
    font-size: 18px;
    font-weight: 600;
    margin-top: -60px;
    }
    .client-village {
    color: rgba(255, 255, 255, .5) !important;
    font-weight: 600 !important;
    line-height: 1.8;
    font-size: 16px;
    padding-left: 110px;
    }
    .client-paragraph {
    color: #dee3e4 !important;
    padding-left: 38px;
    line-height: 1.8;
    font-size: 15px;
    padding-top: 26px;
    }
    .samll-image-box2 {
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid white;
    border: 5px solid rgb(63, 62, 62);
    border-radius: 50%;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 23px;
    padding-top: 10px;
    }
    .samll-image-box2 img {
    border-radius: 50%;
    }
    .client2-image-text {
    color: white;
    padding-left: 110px;
    font-size: 18px;
    font-weight: 600;
    margin-top: -60px;
    }
    .client2-village {
    color: rgba(255, 255, 255, .5) !important;
    font-weight: 600 !important;
    line-height: 1.8;
    font-size: 16px;
    padding-left: 110px;
    }
    .client2-paragraph {
    color: #dee3e4 !important;
    padding-left: 38px;
    line-height: 1.8;
    font-size: 15px;
    padding-top: 26px;
    }
    .contact {
    width: 80%;
    height: 530px;
    position: relative;
    /*border: 2px solid red;*/
    float: right;
    background-color: #343a40 !important;
    }
    .contact-back-wo {
    width: 50%;
    height: 130px;
    margin: 0 auto;
    margin-top: 50px;
    /*border: 2px solid white;*/
    }
    .contact-back-text {
    opacity: 0.1;
    font-size: 110px; 
    text-align: center;
    font-weight: 700 !important;
    color: rgba(255, 255, 255, 1) !important;
    text-transform: uppercase !important;
    line-height: 1.3;
    }
    .gat-touch {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: white;
    margin-top: -16%;
    }
    .cont-last-container {
    width: 80%;
    height: 225px;
    margin: 0 auto;
    margin-top: 60px;
    /*border: 2px solid gray;*/
    }
    .address-box {
    width: 32%;
    height: 200px;
    float: left;
    /*border: 2px solid green;*/
    background-color: #212529b5;
    border-radius: 8px;
    }
    .address-text{
    color: white;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
    line-height: 1.2;
    }
    .information{
    color: #dee3e4 !important;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-top: 20px;
    }
    .distt{
    color: #dee3e4 !important;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.6;
    }
    .address-box2 {
    width: 32%;
    height: 200px;
    float: left;
    /*border: 2px solid green;*/
    background-color: #212529b5;
    border-radius: 8px;
    margin-left: 19px;
    }
    .contact-ph-no{
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    padding-top: 40px;
    line-height: 1.2;
    }
    .phone-no{
    color: #dee3e4 !important;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
    }
    .tel-no{
    color: #dee3e4 !important;
    text-align: center;
    font-size: 17px; 
    line-height: 1.6; 
    }
    .domai1{
    color: #dee3e4 !important;
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    line-height: 1.6;
    }
    .address-box3 {
    width: 32%;
    height: 200px;
    float: left;
    /*border: 2px solid green;*/
    background-color: #212529b5;
    border-radius: 8px;
    margin-left: 19px;
    }
    .addrress{
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    padding-top: 40px;
    line-height: 1.2; 
    }
    .my-social-icon {
    width: 35.11%;
    height: 47px;
    line-height: 1.9;
    margin: 0 auto;
    margin-top: 10px;
    /*border: 2px solid palegreen*/
    }
    .first-soci{
    width: 35px;
    height: 42px;
    float: left;
    padding-left: 10px;
    color: rgba(250, 250, 250, 0.9);
    padding-top: 9px;
    font-size: 18px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    }
    .second-soci{
    width: 35px;
    height: 42px;
    float: left;
    color: rgba(250, 250, 250, 0.9);
    padding-top: 9px;
    padding-left: 10px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    font-size: 18px;
    }
    .thired-soci{
    width: 35px;
    height: 42px;
    float: left;
    color: rgba(250, 250, 250, 0.9);
    font-size: 18px;
    padding-top: 6px;
    padding-left: 10px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    }
    .foruth-soci{
    width: 35px;
    height: 42px;
    float: left;
    color: rgba(250, 250, 250, 0.9);
    font-size: 18px;
    margin-top: 10px;
    /*border: solid 1px rgba(255, 255, 255, 0.3);*/
    }
    header {
    width: 100%;
    float: left;
    background-color: black;
    }
    .my {
    color: white;
    /*width: 70%;*/ 
    float: right;
    }
    .my a {
    float: left;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }
    .my a:hover {
    color: red;
    }
    #toggle {
    display: none;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    float: right;
    }
    #toggle a:hover {
    color: red;
    }
    .my_mobile {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 100px;
    }
    .my_mobile a {
    color: white;
    display: block;
    padding: 12px;
    font-size: 28px;
    text-decoration: none;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
    }
    #close_menu {
    position: fixed;
    right: 14px;
    top: 14px;
    color: white;
    font-size: 30px;
    }
    #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;}
    #myBtn:hover {
    transition: all .4s linear;
    transform: scale(1.1);
    }
    @media screen and (min-width: 320px) and (max-width: 800px) {
    .side-box-nav {
    display: none;
    }
    .top-button {
        margin-top: 50px;
        color: #20c997;
        font-weight: 400;
        font-size: 16px;
        border: solid 2px #20c997;
        border-radius: 30px;
        text-align: center;
        padding-top: 13px;
        }
        .top-button:hover {
        background-color: #20c997;
        font-size: 15px;
        color: white;
        }
    .iam{
    color: white;
    font-size: 30px;
    padding: 15px;
    font-family: sans-serif;
    }
    .text{
    font-size: 26px;
    }
  
    .logo {
    display: none;
    }
    .section {
    display: none;
    }
    .shadow1 {
    display: none;
    }
    .nav {
    display: none;
    }
    .social_icon2 {
    display: none;
    }
    .right-banner-box {
    width: 100%;
    background-image: linear-gradient(to right, rgba(42, 42, 42, 0.75), rgba(38, 40, 40, 0.79)),url("images/mobile.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    }
    h4 {
    text-align: center;
    font-size: 25px;
    }
    .fron-develo-text {
    font-size: 30px;
    }
    .about {
    width: 100%;
    float: left;
    height: 120vh;
    }
    .about-me-col1 {
    width: 100%;
    }
    .main-heading {
    width: 100%;
    font-size: 50px;
    font-weight: 800;
    padding-top: 22px;
    }
    .what {
    font-size: 28px;
    text-align: center;
    margin-top: -90px;
    }
    .white-text-box1 {
    width: 100%;
    padding-top: 20px;
    padding-left: 25px;
    margin-top: 5px;
    }
    .white-text-box1 p {
    font-size: 16px;
    line-height: 1.5;
    }
    .col-inf-right {
    width: 100%;
    margin-top: 100px;
    }
    .my-name {
    font-size: 15px;
    padding-left: 25px;
    }
    .my-email {
    font-size: 15px;
    padding-left: 25px;
    }
    .my-age {
    font-size: 15px;
    padding-left: 25px;
    }
    .from {
    font-size: 15px;
    padding-left: 25px;
    }
    .about-button {
    width: 50%;
    margin-left: 20px;
    }
    .my-portfolio{
    width: 100%;
    }
    .services-container1 {
    width: 100%;
    }
    .services-main-heading {
    width: 100%;
    margin-top: 50px;
    font-size: 35px;
    padding-top: 25px;
    font-weight: 800;
    }
    .what {
    font-size: 25px;
    margin-top: -83px;
    }
    .my_educ{
    height: 100vh;
    width: 100%;
    }
    .my-education-container {
    width: 100%;
    margin-top: 60px;
    }
    .summary {
    font-size: calc(1.30rem + 9.7vw) !important;
    font-weight: 900;
    }
    .changes {
    margin-top: -58px;
    font-weight: 800;
    }
    .my-eduation-heading {
    width: 50%;
    border: 1px solid whit;
    font-size: 22px;
    margin-top: 30px;
    float: left;
    padding-top: 11px;
    }
    .bottom-eduation-cont {
    margin-top: 20px;
    }
    .computer-sci-box {
    width: 100%;
    margin-top: 20px;
    }
    .date {
    margin-left: 20px;
    padding-top: 6px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    }
    .science-main-text {
    padding-left: 20px;
    font-size: 19px;
    }
    .sci-high-light {
    padding-left: 20px;
    font-size: 18px;
    }
    .sci-heading-text {
    padding-left: 20px;
    font-size: 17px;
    }
    .master-deg-box {
    width: 100%;
    margin-left: 0px;
    margin-top: 25px;
    }
    .date2 {
    margin-left: 20px;
    padding-top: 6px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    }
    .master-main-text {
    padding-left: 20px;
    font-size: 19px;
    }
    .mast-high-light {
    padding-left: 20px;
    font-size: 18px;
    }
    .master-heading-text {
    padding-left: 20px;
    font-size: 17px;
    }
    .skills {
    width: 100%;
    height: 100vh;
    }
    .my-skills-text {
    font-size: 25px !important;
    padding-left: 20px;
    }
    .html-skills-box {
    width: 95%;
    padding-left: 20px;
    }
    .skills-box {
    margin-top: 20px;
    }
    .html-skills-box h6 {
    font-size: 17px;
    font-weight: 700;
    }
    .hello {
    margin-top: 32px;
    }
    .float-end {
    font-size: 15px;
    }
    .css-skills-box {
    width: 95%;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 0px;
    }
    .css-skills-box h6 {
    font-size: 17px;
    font-weight: 700;
    }
    .hello2 {
    margin-top: 32px;
    }
    .java-skills-box {
    width: 95%;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 0px;
    }
    .java-skills-box h6 {
    font-size: 17px;
    font-weight: 700;
    }
    .hello3 {
    margin-top: 32px;
    }
    .boostrap-skills-box {
    width: 95%;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 0px;
    }
    .boostrap-skills-box h6 {
    font-size: 17px;
    font-weight: 700;
    }
    .hello4 {
    margin-top: 32px;
    }
    .react-skills-box {
    width: 95%;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 0px;
    }
    .react-skills-box h6 {
    font-size: 17px;
    font-weight: 700;
    }
    .hello5 {
    margin-top: 32px;
    }
    .jquery-skills-box {
    width: 95%;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 0px;
    }
    .jquery-skills-box h6 {
    font-size: 17px;
    font-weight: 700;
    }
    .hello6 {
    margin-top: 32px;
    }
    .my-button2 {
    display: none;
    }
    .my-portfolio-row {
    display: none;
    }
    .projects{
    width: 100%;
    height: auto;
    }
     .all {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        }
        .image1 {
            border-radius: 10px;
            /* border: 1px solid red; */
            width:290px;
            height: 290px;
            background-image: url(images/will.jpg);
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
        }
        .image2 {
            /* border: 1px solid red; */
            border-radius: 10px;
            width: 290px;
            height: 290px;
            margin: 0px;
            background-image: url(images/clear.jpg);
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
        }
        .image3 {
            /* border: 1px solid red; */
            margin: 0px;
            width: 290px;
            height: 290px;
            background-image: url(images/into.webp);
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            border-radius: 10px;
        }
        .image4 {
            border-radius: 10px;
            /* border: 1px solid red; */
            margin: 0px;
            width: 290px;
            height: 290px;
            background-image: url(images/dro.webp);
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            border-radius: 10px;
        }
        .image5 {
            /* border: 1px solid red; */
            width: 280px;
            height: 280px;
            background-image: url(images/digitall.png);
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            margin: 0px;
            border-radius: 10px;
        }
        .image6 {
            border-radius: 10px;
            /* border: 1px solid red; */
            width: 290px;
            height: 290px;
            background-image: url(images/last.jpg);
            background-size: cover;
            /* background-position: center; */
            background-repeat: no-repeat;
            margin: 0px;
        }
    .portfolio-in {
    padding-top: 5px;
    font-size: 40px;
    margin-left: -23px;
    text-align: center;
    }
    .my-work {
    font-size: 35px;
    margin-top: -46px;
    text-align: center;
    }
  
    .Testimonial {
    width: 100%;
    float: right;
    height: auto;
    }
    .testimo-section {
    width: 100%;
    }
    .testimonial-heading {
    font-size: 40px;
    font-weight: 800;
    }
    .client-speak-text {
    font-size: 34px;
    margin-top: -50px;
    }
    .client-last-container {
    width: 97%;
    margin-top: 10px;
    }
    .client-box1 {
    width: 100%;
    }
    .client-box2 {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    }
    .contact{
    width: 100%;
    height: auto;
    }
    .contact-back-wo{
    width: 100%;
    float: left;
    }
    .contact-back-text {
    font-size: 60px; 
    text-align: center;
    font-weight: 900;
    }
    .gat-touch {
    font-size: 40px;
    text-align: center;
    margin-top: -20%;
    }
    .cont-last-container {
    width: 95%;
    margin: 0 auto;
    }
    .address-box {
    width: 100%;
    float: left;
    }
    .address-box2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-top: 20px;
    }
    .address-box3 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    }
}
    @media screen and (min-width:320px) and (max-width:850px) {
    .top-logo {
    width: 80%;
    display: block;
    }
    #toggle {
    display: block;
    }
    .my {
    display: none;
    }

    .drop-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
}

@media screen and (min-width:851px) and (max-width:1100px){
    .top-button {
        width: 170px;
        height: 55px;
        font-size: 18px;
        text-align: center;
        padding-top: 13px;
        }
        .logo {
            display: none;
            }
            .section {
            display: none;
            }
            .shadow1 {
            display: none;
            }
            .nav {
            display: none;
            }
            .social_icon2 {
            display: none;
            }
            .side-box-nav {
                display: none;
                }
            .right-banner-box {
            width: 100%;
                }

                .about {
                    width: 100%;
                    float: left;
                    height: 60vh;
                    }
    .white-text-box1 h1 {
        font-size: 30px;
        color: white;
        }
        .high-light {
        color: #20c997;
        }
        .white-text-box1 p {
        font-size: 21px;
    }

    .col-inf-right {
        width: 30%;
        height: 275px;
        float: right;
        margin-top: 20px;    
     }

     .main-heading {
        width: 55%;
        margin: 0 auto;
        height: 115px;
        text-align: center;
        margin-top: 50px;
        font-size: 70px;
        }
        .what {
        font-size: 34px;
        text-align: center;
        margin-top: -0px;
        }
     .my-name {
        font-size: 20px;
        padding-left: 25px;
     }

     .my-email {
        font-size: 19px;
        padding-left: 25px;
      }

      .my-age {
        font-size: 20px;
        padding-left: 25px;
     }

     .from {
        font-size: 20px;
        padding-left: 25px;
    }

 .about-button {
    width: 65%;
    margin-left: 0px;
    font-size: 18px;
    margin-left: 20px;
}

.my-portfolio{
    width: 100%;

    }
.what {
    font-size: 34px;
    margin-top: -100px;
    }
  
    .services-main-heading {
        font-size: 55px;
      }

      .skills-box {
        float: left;
        }
      .css-skills-box {
        float: left;
        margin-left: 25px;
      }
      .boostrap-skills-box {
        float: right;
        margin-left: 25px;
      }

      .jquery-skills-box {
        float: right;
        margin-left: 25px;
     }

     .my-button2 {
        width: 28%;
        margin-top: 80px;
        margin-right: 40px;
        font-size: 18px;
        margin-left: 40%;        
  }

  .my_educ {
    width: 100%;
    height: 65vh;
    }
  .bottom-eduation-cont {
    width: 98%;
    }
  .computer-sci-box {
    width: 48%; 
    height: 230px;

    }

    .master-deg-box {
        width: 48%;
        float: right;
        margin-left: 0px;
        height: 230px;
    }
    .projects{
     height: 145vh;
     width: 100%;    
  }

  .all {
    width: 65%;
    margin-top: 25px;
    margin: 0 auto;
    }

  .image1{
    width: 46%;
  float: left;
 
}

.image5{
    width: 46%;
    float: left;
    margin-left: 0;
}

.image4 {
    width: 46%;
    float: left;
    margin-left: 50px;

}

.image2 {
    width: 46%;
    float: left;
    margin-left: 50px;
}

.image3 {
    width: 46%;
    float: left;
    margin-left: 0;
    margin-top: 20px; 
}

.image6 {
    width: 46%;
    float: left;
    margin-left: 50px;
    
}
.Testimonial {
    width: 100%;
    }

 .testimonial-heading {
    font-size: 80px;
    text-align: center;
   
    }

    .client-speak-text {
        font-size: 35px;
        text-align: center;
        margin-top: -80px;
 }

 .client-last-container {
    width: 97%;
    height: 300px;
    }
    .client-box1 {
        width: 48%;
        height: 295px;
      }

      .client-image-text {
        font-size: 18px;
     
        }
        .client-village {
        font-size: 18px;
        padding-left: 110px;
        }
        .client-paragraph {
        padding-left: 38px;
        font-size: 17px;
        padding-top: 26px;
        }
        .client-box2 {
        width: 48%;
        height: 295px;
        margin-left: 40px;
        }

        .client2-village {
        font-size: 18px;
        padding-left: 110px;
          
      }
            .client2-paragraph {
                padding-left: 38px;
                font-size: 17px;
                padding-top: 26px;
            }

            .contact {
                width: 100%;
                }
            .contact {
                height: auto;
                }
            .contact-back-text {
                font-size: 90px; 
            
                }
                .gat-touch {
                font-size: 40px;
                text-align: center;
                font-weight: 700;
                color: white;
                margin-top: -21%;
                }
                .cont-last-container {
                    width: 87%;
                    }
                .address-box {
                    width: 48%;
                    float: left;
                    padding-top: 20px;
               }
               .address-box2 {
                width: 48%;
                padding-top: 20px;
                }

                .address-box3 {
                    width: 48%;
                    margin-top: 20px;
                    margin-left: 0px;
                    padding-top: 30px;
          }

          .my-social-icon {
            width: 28%;
            }

            .first-soci{
                width: 40px;
                padding-top: 9px;
                font-size: 30px;
                }
            
            .second-soci{
                width: 40px;
                padding-top: 9px;
                font-size: 30px;
                }
                .thired-soci{
                    width: 45px;
                    font-size: 30px;
                    margin-top: 0px;
                    margin-left: 0px;
                    }
                }
   @media screen and (min-width:900px) and (max-width:1020px){
        .client-box1 {
            width: 47%;
            height: 295px;
            margin-left: 10px;
          }

            .client-box2 {
            width: 47%;
            height: 295px;
            margin-left: 40px;
            }
            .my-social-icon {
                width: 31%;
                }
            .first-soci{
                width: 40px;
                padding-top: 9px;
                font-size: 30px;
                }
            
            .second-soci{
                width: 40px;
                padding-top: 9px;
                font-size: 30px;
                }

            .thired-soci{
                width: 40px;
                font-size: 30px;
                margin-top: 0px;
                margin-left: 0px;
                }

   }

